autom4te.cache/
*.o
*.Po
*.a
*.so
*~
.deps/
*.lo
*.la
.libs/
libtool
stamp-h1
config.log
config.status
config.guess
config.sub
autom4te.cache/

# macros libtool régénérées par autogen.sh (non suivies, cf m4/.placeholder)
m4/libtool.m4
m4/lt*.m4

# fichiers générés par configure/make (ne pas suivre)
Makefile
config.h
stamp-h1
fpac.spec
scripts/versions
scripts/myfpac.sh
cfg/fpaccfg
# configs runtime générées depuis etc/*.in
/etc/*.conf
/etc/*.conf.fr
/etc/*.routes
/etc/*.nodes
/etc/*.dnic
/etc/*.info
/etc/fpac.hello
/etc/itu.dnic

# en-têtes générés au build
pathnames.h
wp/crc_tab.h
# exécutables compilés (bin_PROGRAMS, sans extension)
flex/flexd
monitor/monitor
node/fpacnode
node/fpacshell
node/yapp
pad/fpad
scripts/ax25parms
stats/fpacroute
stats/fpacstat
tcp/call_tcp
tcp/calld
tcp/mon_tcp
tools/aprslist
tools/calibrate
tools/fpacwdog
tools/mailbbs
wp/fpacwpd
wp/make_tab
wp/wpcmp
wp/wpconvert
wp/wpedit
wp/wplist
wp/wpmaint
wp/wpserv
wp/wpstress

# sorties de make dist / make distcheck
*.tar.gz
*.tar.xz
/fpac-*/
