Source: fpac
Section: hamradio 
Priority: extra
Maintainer: Lee Woldanski <ve7fet@tparc.org>
Build-Depends: debhelper (>= 7), autotools-dev, libax25-dev,  libc6-dev (>= 2)
Standards-Version: 3.8.0
Homepage: http://rose.fpac.free.fr

Package: fpac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libax25 (>= 0.0.12)
Description: The FPAC AX.25 network switching software 
 The FPAC AX.25 network switching software, featuring ROSE routing.
